#sign-up-form {
  & > div {
    width: 100%;
    height: 48px;
    margin-bottom: 20px;

    label {
      color: white;

      &.Mui-focused {
        color: dodgerblue;
      }
    }

    div::before {
      border-color: white;
    }
  }

  path {
    color: white;
  }

  .date-picker button {
    padding-right: 17px;
  }
}