.main-container {
  padding-top: 50px;
  width: 100%;
  height: 2000px;
  overflow: hidden;

  .main {
    width: 100%;
    height: 800px;
    position: relative;
  }

  .main-box {
    width: 100%;
    height: 800px;
  }

  .main-name {
    width: 80px;
    height: 30px;
    border-bottom: 2px solid #EEEEEE;
    padding-top: 100px;
    margin: 0 auto 10px auto;
    z-index: 2;
    position: relative;

    h1 {
      color: white;
      text-align: center;
    }
  }

  .content {
    width: 1100px;
    height: 600px;
    //background-color: #393E46;
    margin: 0 auto;
    z-index: 2;
    position: relative;

    .movie-content-container {
      width: 1100px;
      height: 370px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      position: relative;

      .movie-box {
        width: 200px;
        height: 355px;
        float: left;

        .like-btn {
          width: 80px;
          height: 35px;
          color: white;
          border: 1px solid #EEEEEE;
        }

        .reserved-btn {
          margin-left: 5px;
          width: 115px;
          height: 35px;
          color: white;
          border: 2px solid dodgerblue;
          background-color: dodgerblue;
        }

        h1 {
          margin: 10px auto;
        }

        img {
          width: 200px;
          height: 300px;
          margin: auto;
          display: block;
          border-radius: 2%;
        }
      }
    }

    .search-content-container {
      margin-top: 20px;
      width: 100%;
      height: 70px;
      //background-color: #10141e;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      position: relative;

      .search-content {
        width: 275px;
        height: 50px;
        margin-top: 10px;
        border-right: 2px solid #393E46;
        float: left;

        .search-input {
          width: 235px;
          margin: 0 auto;
        }

        #search-form {
          input {
            color: white;
          }

          label {
            color: white;

            &.Mui-focused {
              color: dodgerblue;
            }
          }
        }
      }

      .search-content:last-child {
        border: none;
      }
    }
  }

  .main-content {
    width: 1100px;
    height: 600px;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .movie-box {
      position: relative;
      width: 275px;
      height: 500px;
      float: left;

      h1 {
        margin: 10px auto;
      }

      img {
        width: 250px;
        height: 375px;
        margin: auto;
        display: block;
        border-radius: 2%;
      }
    }
  }
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat url("../../assets/images/main/1.jpg") 0 / cover;
  filter: blur(15px) brightness(35%); /* 블러와 어둡게 효과 적용 */
  z-index: 1; /* 배경이 내용 뒤에 있도록 z-index 설정 */
}