.main-container {
  padding-top: 50px;
  width: 100%;
  height: 2000px;
  overflow: hidden;

  .main {
    width: 100%;
    height: 800px;
    position: relative;
  }

  .main-box {
    width: 100%;
    height: 800px;
  }

  .main-name {
    width: 80px;
    height: 30px;
    border-bottom: 2px solid #EEEEEE;
    padding-top: 100px;
    margin: 0 auto 10px auto;
    z-index: 2;
    position: relative;

    h1 {
      color: white;
      text-align: center;
    }
  }

  .content {
    width: 1100px;
    height: 600px;
    //background-color: #393E46;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;

    .movie-box {
      width: 200px;
      height: 370px;
      float: left;
      background-color: black;

      h1 {
        margin: 10px auto;
      }

      img {
        width: 200px;
        height: 300px;
        margin: auto;
        display: block;
        border-radius: 2%;
      }
    }
  }

  .main-content {
    width: 1100px;
    height: 600px;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .movie-box {
      position: relative;
      width: 275px;
      height: 500px;
      float: left;

      h1 {
        margin: 10px auto;
      }

      img {
        width: 250px;
        height: 375px;
        margin: auto;
        display: block;
        border-radius: 2%;
      }
    }
  }
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat url("../../assets/images/main/1.jpg") 0 / cover;
  filter: blur(15px) brightness(35%); /* 블러와 어둡게 효과 적용 */
  z-index: 1; /* 배경이 내용 뒤에 있도록 z-index 설정 */
}